// Site Header
#site-header {
  background: $dark;
  padding: 1.25rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Site Title
#site-title {
  color: $white;
  margin: 0;
  font-size: 1.75rem;
}

// Toggle
.toggle {
  padding: .5rem;
  cursor: pointer;

  span {
    width: 35px;
    height: 2px;
    background: $white;
    display: block;
    transition: all .5s;

    &:not(:last-child) {
      margin-bottom: .6rem;
    }
  }

  &.opened {

    span:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(8px)
    }
    span:nth-child(2) {
      transform: rotate(-45deg);
    }
    span:nth-child(3) {
      opacity: 0;
      transform: translateY(-.6rem);
    }
  }
}

// Header Toggle
#header-toggle {

  @media only screen and (min-width: $media-lg) {
    display: none;
    visibility: hidden;
  }
}

// Mobile Nav
#mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: $primary;
  width: 60%;
  height: 100%;
  padding: 2rem;
  transform: translateX(-100%);
  transition: .5s;

  .menu {

    li {

      a {
        color: $white;
        font-weight: $font-weight-bold;
        padding: 1rem 0;
        display: block;
        font-size: $font-size-large;
      }
    }
  }

  &.show {
    transform: translateX(0);
  }

  @media only screen and (min-width: $media-lg) {
    display: none;
    visibility: hidden;
  }
}

// Desktop Nav
#desktop-nav {
  display: none;
  visibility: hidden;

  .menu {

    li {
      display: inline-block;
    }

    a {
      padding: 1rem;
      color: $white;
      font-size: $font-size-small;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: calc(100% - 2rem);
        opacity: 0;
        background: $primary;
        transform: translateY(.5rem);
        transition: $transition;
        bottom: .5rem;
        left: 1rem;
      }

      &:hover {
        color: $primary;

        &:after {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @media only screen and (min-width: $media-lg) {
    display: block;
    visibility: visible;
  }
}