// Site Header
#site-header {
  padding: 1.25rem 0;
  border-bottom: 1px solid $light;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Site Title
#site-title {
  color: $body-color;
  margin: 0;
  font-size: 1.5rem;

  a {
    color: $dark;
    text-decoration: none;
  }
}

// Toggle
.toggle {
  padding: .5rem;
  cursor: pointer;

  span {
    width: 35px;
    height: 2px;
    background: $dark;
    display: block;
    transition: all .5s;

    &:not(:last-child) {
      margin-bottom: .6rem;
    }
  }

  &.opened {

    span:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(8px)
    }
    span:nth-child(2) {
      transform: rotate(-45deg);
    }
    span:nth-child(3) {
      opacity: 0;
      transform: translateY(-.6rem);
    }
  }
}

// Header Toggle
#header-toggle {
  z-index: 999;

  &.opened {

    span {
      background: $white;
    }
  }

  @media only screen and (min-width: $media-lg) {
    display: none;
    visibility: hidden;
  }
}

// Mobile Nav
#mobile-nav {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  padding: 2rem;
  transform: translateX(-100%);
  transition: .5s;
  z-index: 999;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .25);

  .menu {

    li {

      a {
        color: $gray;
        font-weight: $font-weight-bold;
        padding: 1rem 0;
        display: block;
        font-size: 1.5rem;
        line-height: $line-height-small;

        &.active {
          color: $dark;
        }
      }
    }
  }

  &.show {
    transform: translateX(0);
  }

  @media only screen and (min-width: $media-lg) {
    display: none;
    visibility: hidden;
  }
}

// Desktop Nav
#desktop-nav {
  display: none;
  visibility: hidden;

  .menu {

    li {
      display: inline-block;
    }

    a {
      padding: 1rem;
      color: $gray;
      font-size: $font-size-small;
      position: relative;
      font-weight: $font-weight-bold;
      transition: $transition;

      &:hover, &.active {
        color: $dark;
      }
    }
  }

  @media only screen and (min-width: $media-lg) {
    display: block;
    visibility: visible;
  }
}