// Nav
nav {

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      display: inline-block;
      margin-bottom: 1rem;

      &:not(:last-child) {
        margin-right: .5rem;
      }

      a {
        display: block;
        border: $border-width solid $primary;
        border-radius: $border-radius;
        text-decoration: none;
        padding: .5rem 1rem;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        font-size: $font-size-small;
        transition: $transition;

        &.active, &:hover {
          color: $white;
          background: $primary;
        }
      }
    }
  }
}
